.card h1,
.card h3 {
  color: var(--motion-blue);
  font-weight: 700;
}

.card p,
.card span,
.card li {
  color: #222;
  font-size: 16px;
}

.card li {
  background: #f9f9f9;
  border-radius: 8px;
  padding: 12px;
  margin-bottom: 12px;
  list-style: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
}

.card li strong {
  font-size: 16px;
  color: var(--pulse-coral);
}

.card li em {
  font-style: italic;
  color: #333;
}

.card li span {
  font-size: 14px;
  color: #444;
}