.navbar {
  background-color: var(--motion-blue);
  padding: 8px 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #002b5b11;
  position: sticky;
  top: 0;
  z-index: 999;
}

.left {
  display: flex;
  align-items: center;
}

.logo img {
  height: 120px; /* or whatever size you want */
  width: auto;
  display: block;
  max-width: 160px; /* Prevent it from growing too much */
  object-fit: contain;
}

.logo {
  display: flex;
  align-items: center;
  max-width: 180px; /* Keeps it in check */
}

.navLinks {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
}

.navLinks li {
  display: flex;
  align-items: center;
}

.navLinks a,
.logoutLink {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 15px;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.2s ease;
  background: none;
  border: none;
  cursor: pointer;
}

.navLinks a:hover,
.logoutLink:hover {
  background-color: var(--pulse-coral);
  color: white;
}

.active {
  background-color: var(--pulse-coral);
  color: white;
  font-weight: 600;
}

.sparkBtn {
  background-color: var(--pulse-coral);
  color: white !important;
  font-weight: 600;
  padding: 8px 14px;
  border-radius: 8px;
  transition: 0.3s ease;
}
